@charset "UTF-8";
body {
  padding: 0;
  margin: 0;
  background-color: red; }

*, *:after, *:before {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  scroll-behavior: smooth; }

.wrapper {
  max-width: -webkit-calc(1180px - (30px * 2));
  max-width: calc(1180px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }

.page-content {
  flex: 1; }

p {
  line-height: 26px; }

@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px; } }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

.main-title {
  display: flex;
  flex-direction: column;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 1.5rem; }
  .main-title span {
    display: flex;
    justify-content: center; }
  .main-title--colored {
    font-family: Pacifico;
    color: #e65b33;
    padding: 10px 0;
    font-weight: 500; }

.sub-title {
  display: flex;
  justify-content: center;
  letter-spacing: 0.64px;
  color: #ffffff;
  line-height: 4.49px;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  padding-top: 80px; }
  .sub-title--black {
    color: #000000; }
  .sub-title--yellow {
    color: #e4b938;
    padding: 0px 0 25px 0; }

.large-title {
  line-height: 60px;
  font-size: 0.875;
  color: #ffffff;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 900; }

.medium-title {
  padding: 25px 0;
  color: #000000;
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700; }
  .medium-title--light {
    color: #ffffff; }

@media only screen and (min-width: 800px) {
  .main-title {
    font-size: 3.5rem;
    line-height: 72px; }
    .main-title--colored {
      font-size: 5rem; }
  .sub-title {
    font-size: 3.5rem;
    padding: 50px 0;
    line-height: 24px; }
    .sub-title--yellow {
      padding: 0 0 50px 0; }
  .medium-title {
    font-size: 1.35rem; }
  .large-title {
    font-size: 2.25rem; } }

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./theme/img/banner.jpg");
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 94px);
  color: #ffffff; }

.wrapper--banner {
  display: flex;
  flex-direction: column;
  align-items: center; }

.banner::before,
.banner::after {
  bottom: 0;
  position: absolute;
  content: '';
  pointer-events: none;
  right: 0;
  left: 0;
  z-index: 10;
  display: block;
  height: 90px;
  background-size: 50px 100%; }

.test {
  min-height: 2000px; }

@media only screen and (min-width: 800px) {
  .banner {
    height: calc(100vh - 94px);
    background-attachment: fixed; }
  .banner__title {
    font-size: 3.5rem; }
    .banner__title--colored {
      font-size: 5rem; } }

.introduction::before,
.introduction::after {
  background: url("./theme/img/paths2.svg");
  bottom: 0;
  position: absolute;
  content: '';
  background-size: 25px 25px;
  background-repeat: repeat-x;
  height: 41px;
  width: 100%; }

.introduction {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #e65b33;
  color: #ffffff; }
  .introduction__text {
    letter-spacing: 0.64px;
    font-size: 0.75rem;
    text-align: center;
    padding: 10px 0;
    color: #ffffff; }
    .introduction__text--light-bold {
      font-weight: 700; }
    .introduction__text--bold {
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      padding-bottom: 0; }
  .introduction__heading {
    padding: 25px 0 25px 0; }
  .introduction::before {
    top: -32px;
    background-position: 0%; }
  .introduction::after {
    transform: rotate(180deg);
    bottom: -32px;
    background-position: 0%; }

.wrapper--introduction {
  max-width: calc(835px - (30px * 2));
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0; }

@media only screen and (min-width: 800px) {
  .introduction__text {
    font-size: 1rem;
    padding: 40px 0 0 0; }
    .introduction__text--bold, .introduction__text--clear {
      margin: 0;
      padding: 0; }
  .introduction__button {
    margin-top: 50px !important; }
  .introduction__heading {
    padding: 125px 0 50px 0; }
  .wrapper--introduction {
    padding: 0 0 75px 0;
    margin: 25px 0; } }

.active {
  background-color: #32373c; }
  .active .description__title {
    color: #ffffff; }
  .active .description__icon {
    filter: invert(1); }

.wrapper--description {
  overflow: hidden; }

.description__item {
  cursor: pointer;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  height: 150px;
  justify-content: center;
  border: 1px solid #e7e7e7; }
  .description__item:hover {
    background-color: #32373c; }
    .description__item:hover .description__title {
      color: #ffffff; }
    .description__item:hover .description__icon {
      filter: invert(1); }

.description__data {
  display: none; }

.description__title {
  margin-top: 25px;
  font-weight: 700;
  color: #32373c; }

.description__wrapper {
  margin: 50px 0 94px 0; }

.description__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.description__text {
  padding: 15px 0;
  font-size: 0.75rem;
  line-height: 26px; }

.description__list-item {
  line-height: 26px;
  font-size: 0.75rem; }
  .description__list-item:before {
    content: "•";
    color: #e65b33;
    padding-right: 7px; }

@media only screen and (min-width: 800px) {
  .description__text {
    line-height: 26px;
    font-size: 1rem; }
  .description__item {
    height: unset; }
  .description__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .description__list-item {
    font-size: 1rem; }
  .description__info {
    text-align: left;
    margin: 0 50px; }
  .description__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 200px; }
  .description__heading {
    margin-top: 80px; } }

@media only screen and (max-width: 800px) {
  .description__info {
    display: none; }
  .description__item:hover {
    background-color: unset; }
  .description__item:hover .description__title {
    color: #000000; }
  .description__item:hover .description__icon {
    filter: unset; } }

.wp-goals {
  background-color: #0a345b; }

.wrapper--wp-goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px; }

.wp-goals__title {
  font-weight: 900; }

@media only screen and (min-width: 800px) {
  .wrapper--wp-goals {
    padding: 75px 0;
    flex-direction: row;
    justify-content: space-between; }
  .wp-goals__title {
    border-left: 3px solid #e4b938;
    padding-left: 50px; } }

.quotation::before,
.quotation::after {
  background: url("./theme/img/paths.svg");
  bottom: 0;
  position: absolute;
  content: '';
  background-size: 25px 25px;
  background-repeat: repeat-x;
  height: 41px;
  width: 100%; }

.quotation {
  line-height: 24px;
  position: relative;
  background-color: #32373c;
  padding: 35px 0; }
  .quotation__text {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 0.75rem;
    text-align: center; }
  .quotation__author {
    display: flex;
    justify-content: center;
    font-weight: 700;
    padding-top: 25px;
    color: #e4b938;
    font-size: 0.625rem; }
  .quotation__mark {
    font-size: 36px;
    color: #e4b938; }
  .quotation::before {
    top: -32px;
    background-position: 0%; }
  .quotation::after {
    transform: rotate(180deg);
    bottom: -32px;
    background-position: 0%; }

@media only screen and (min-width: 800px) {
  .quotation {
    padding: 100px 0; }
    .quotation__text {
      font-size: 1.2rem; }
    .quotation__author {
      font-size: 1.125rem;
      margin-bottom: 80px; }
    .quotation__heading {
      margin-top: 90px; } }

.clients {
  margin-bottom: 25px; }
  .clients__box {
    margin: 50px 0; }
  .clients__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.75rem;
    color: #32373c; }
    .clients__text--bold {
      font-weight: 700; }
    .clients__text:not(:first-child) {
      padding: 22px 0; }

.wrapper--clients {
  overflow: hidden; }

@media only screen and (min-width: 800px) {
  .clients__box {
    display: grid;
    grid-template-columns: 1fr 365px; }
  .clients__text {
    line-height: 26px;
    text-align: left;
    font-size: 1rem; }
  .clients__informations {
    margin-right: 50px; }
  .clients__heading {
    margin-top: 80px; } }

.navbar {
  margin-bottom: 0;
  font-family: 'Muli', sans-serif;
  background-color: #33414a;
  border-color: unset; }
  .navbar a:hover {
    color: #ffffff; }
  .navbar:before, .navbar:after {
    content: none; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #ffffff; }

.navbar-default .navbar-nav > li > a {
  color: #ffffff; }

.navbar-nav.sm-collapsible .caret:before {
  display: flex;
  align-items: center;
  justify-content: center; }

.navbar-brand {
  overflow: hidden;
  padding: 0;
  margin: 0; }
  .navbar-brand img {
    height: 50px;
    width: 50px; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
  .dropdown-header {
    color: #ffffff; }
  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #ffffff;
    background-color: gray; }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: white !important;
    background-color: transparent; }
  .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: gray;
    border-color: #337ab7; } }

@media only screen and (min-width: 770px) {
  .navbar {
    position: fixed;
    width: 100%; }
  .wrapper--navbar {
    display: flex;
    justify-content: space-between; } }

.button {
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  border: 1px solid #ffffff;
  padding: 17px 30px;
  margin-top: 25px;
  border-radius: 5px; }
  .button:hover {
    background-color: #ffffff;
    color: #e65b33; }
  .button--yellow {
    border: 1px solid #e4b938;
    color: #ffffff;
    padding: 10px 30px; }
    .button--yellow:hover {
      background-color: #e4b938;
      color: #0a345b; }

.arrow {
  z-index: 99;
  position: relative; }
  .arrow__container {
    position: relative;
    cursor: pointer;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-top: 50px;
    z-index: 9999; }
  .arrow__circle {
    position: relative;
    border-radius: 50%;
    background-color: gray;
    width: 42px;
    height: 42px;
    position: absolute;
    top: 50px;
    left: 0;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32); }
    .arrow__circle--one {
      animation-delay: 1s; }
    .arrow__circle--two {
      animation-delay: 2s; }
    .arrow__circle--three {
      animation-delay: 3s; }

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: .5; }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0; } }

@media only screen and (min-width: 800px) {
  .button {
    font-size: 1rem; }
  .arrow__container {
    width: 64px;
    height: 64px;
    margin-top: 175px; }
  .arrow__circle {
    top: 170px;
    left: -5px;
    width: 72px;
    height: 72px; }
  .button--yellow {
    margin-top: 0;
    padding: 23px 73px; } }

.footer {
  color: #000000; }
  .footer__list {
    margin-top: 25px;
    display: flex;
    justify-content: space-between; }
  .footer__text {
    display: flex;
    justify-content: center;
    margin: 25px 0; }
  .footer__link {
    text-decoration: none;
    font-weight: 700;
    color: #32373c;
    font-size: 0.6875rem; }
    .footer__link:hover {
      color: #e4b938; }

@media only screen and (min-width: 800px) {
  .wrapper--footer {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .footer {
    padding: 50px 0; }
    .footer__adn {
      display: flex;
      justify-content: flex-end; }
    .footer__box {
      display: flex;
      align-items: center; }
    .footer__list {
      margin-top: 0; }
      .footer__list li {
        padding-right: 35px; }
    .footer__link {
      font-size: 1rem; } }

.carousel {
  position: relative;
  padding-bottom: 50px; }

.carousel__item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e7e7 !important;
  width: 365px;
  height: 117px; }

.slick-prev:before, .slick-next:before {
  position: absolute;
  color: #000000 !important; }

.slick-prev:before {
  content: "\2190" !important;
  top: 75px;
  left: 175px; }

.slick-next:before {
  content: "\2192" !important;
  top: 75px;
  right: 175px; }

@media only screen and (min-width: 800px) {
  .carousel {
    padding-bottom: 150px; }
  .carousel__item {
    width: 365px !important;
    height: 117px !important; }
  .slick-prev:before {
    content: "\2191" !important;
    left: 405px;
    top: -100px; }
  .slick-next:before {
    content: "\2193" !important;
    top: 15px;
    top: -55px;
    font-weight: bold;
    right: 0; } }

@media only screen and (max-width: 450px) {
  .slick-prev:before {
    content: "\2190" !important;
    top: 75px;
    left: 125px; }
  .slick-next:before {
    content: "\2192" !important;
    top: 75px;
    right: 125px; } }
