.button {
    cursor: pointer;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 700;
    border: 1px solid $white;
    padding: 17px 30px;
 
    margin-top: 25px;
    border-radius: 5px;

    &:hover {
        background-color: $white;
        color: #e65b33;
    }

    &--yellow {
       border: 1px solid $mustard;
       color: $white;
       padding: 10px 30px;

        &:hover {
            background-color: $mustard;
            color: $navy-blue;
        }
    }

   
}

.arrow {
    z-index: 99;
    position: relative;
    
    &__container {
        position: relative;
        cursor: pointer;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $white;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        margin-top: 50px;
        z-index: 9999;
      
    }

    &__circle {
        position: relative;
        border-radius: 50%;
        background-color: gray;
        width: 42px;
        height: 42px;
        position: absolute;
        top: 50px;
        left: 0;
        opacity: 0;
        animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
    
        &--one {
            animation-delay: 1s;
        }
    
        &--two {
            animation-delay: 2s;
        }
    
        &--three { 
            animation-delay: 3s;
        }
      }
    
}




  

@keyframes scaleIn {
    from {
      transform: scale(.5, .5);
      opacity: .5;
    }
    to {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
  }


@media only screen and (min-width: 800px){
    .button {
        font-size: 1rem;
    }

    .arrow__container {
        width: 64px;
        height: 64px;
        margin-top: 175px;
    }

    .arrow__circle {
        top: 170px;
        left: -5px;
        width: 72px;
        height: 72px;
    }

    .button {
        &--yellow {
            margin-top: 0;
            padding: 23px 73px;
           
        }
    }
}