.carousel { 
    position: relative;
    padding-bottom: 50px;
}

.carousel__item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e7e7 !important;
    width: 365px ;
    height: 117px ;
}

.slick-prev:before, .slick-next:before { 
    position: absolute;
    color: $black !important;

}

.slick-prev:before {
    content: "\2190" !important;
    top: 75px;
    left: 175px;
}

.slick-next:before {

    content: "\2192" !important;
    top: 75px;
    right: 175px;
}

@media only screen and (min-width: 800px){
    .carousel {
        padding-bottom: 150px;
    }

    .carousel__item {
        width: 365px !important;
        height: 117px !important;
    }

    .slick-prev:before {
        content: "\2191" !important;
        left: 405px;
        top: -100px;
       
     
    }
    
    .slick-next:before {
        content: "\2193" !important;
        top: 15px;
        top: -55px;
        font-weight: bold;
        right: 0;
    }
    

}

@media only screen and (max-width: 450px){
   

    .slick-prev:before {
        content: "\2190" !important;
        top: 75px;
        left: 125px;
    }
    
    .slick-next:before {
        content: "\2192" !important;
        top: 75px;
        right: 125px;
    }
    
}