.footer { 
    color: $black;

    &__list {
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }

    &__text {
        display: flex;
        justify-content: center;
        margin: 25px 0;
    }
    
    &__link {
    
        text-decoration: none;
        font-weight: 700;
        color: $brown;
        font-size: 0.6875rem;

        &:hover {
            color: $mustard;
        }
    }
}


@media only screen and (min-width: 800px){
    .wrapper--footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .footer {
        padding: 50px 0;

        &__adn {
            display: flex;
            justify-content: flex-end;
        }
        
        &__box {
            display: flex;
            align-items: center;
        }

        &__list {    
            margin-top: 0;

            li {
                padding-right: 35px;
            }
        }
        
        &__link {
            font-size: 1rem;
        }
    }

}