.navbar {
 
  margin-bottom: 0;
  font-family: 'Muli', sans-serif;
  background-color: $menu;
  border-color: unset; 
  
  a:hover {
    color: $white;
  }

  &:before,
  &:after {
    content: none;
  }

 
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: $white;
}

.navbar-default .navbar-nav>li>a {
  color: $white;
  
}

.navbar-nav.sm-collapsible .caret:before {
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.navbar-brand {
  overflow: hidden;
  padding: 0;
  margin: 0;

  img {
    height: 50px;
    width: 50px;
  }
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: $white;
  }

  .dropdown-header {
  
    color: $white;
   
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: $white; 
   background-color: gray; 
}



.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: white !important;
  background-color: transparent;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: gray; 
  border-color: #337ab7;
}

}

@media only screen and (min-width: 770px){
  .navbar {
    position: fixed;
    width: 100%;
    
  
  
  }

  .wrapper--navbar {
    display: flex;
    justify-content: space-between;
  }
}