body {
    // display: flex;
    // flex-direction: column;
    padding: 0;
    margin: 0;
    background-color: red;

}

*, *:after, *:before {
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
    scroll-behavior: smooth;
}

.cd-main-content {

}

.wrapper {
    max-width: -webkit-calc(1180px - (30px * 2));
    max-width: calc(1180px - (30px * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.page-content {
    flex: 1;
}

p {
    line-height: 26px;
}


@media screen and (max-width: 800px){
    .wrapper {
        
        max-width: -webkit-calc(800px - (30px));
        max-width: calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
}

