@mixin triangleBeforeAfter {
	bottom: 0;
    position: absolute;
	content: '';
	background-size: 25px 25px;
	background-repeat: repeat-x;
	height: 41px;
	width: 100%;

	// @media only screen and (max-width: 800px){
	// 	background-size: 50px 50px;
	// 	height: 50px;
	// }
}

@mixin triangleBefore($color){
	top: -32px;
	background-position: 0%;
}

@mixin triangleAfter($color){
	transform: rotate(180deg);
	bottom: -32px;
	background-position: 0%;
}


