.main-title {
    display: flex;
    flex-direction: column;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 1.5rem;
  

    span {
        display: flex;
        justify-content: center;
    }

    &--colored {
        font-family: Pacifico;
        color: $deep-red;
        padding: 10px 0;
        font-weight: 500;
    }
}

.sub-title {    
    display: flex;
    justify-content: center;
    letter-spacing: 0.64px;
    color: $white;
    line-height: 4.49px;
    font-size: 1.5rem;
    font-weight: 900;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    padding-top: 80px;


    &--black {
        color: $black;
    }

    &--yellow {
        color: $mustard;
        padding: 0px 0 25px 0;
        
    }
}

.large-title {
    line-height: 60px;
    font-size: 0.875;
    color: $white;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.medium-title {
    padding: 25px 0;
    color: $black;
    text-transform: uppercase;
    font-size: 0.875rem;
    font-weight: 700;

    &--light {
        color: $white;
    }
}


@media only screen and (min-width: 800px) {
    
    .main-title {
        font-size: 3.5rem;
        line-height: 72px;

        &--colored {
            font-size: 5rem;
        }
    }

    .sub-title {
        font-size: 3.5rem;
        padding: 50px 0;
        line-height: 24px;

        &--yellow {
            padding: 0 0 50px 0;
        }
    }

    .medium-title {
        font-size: 1.35rem;
    }
  
    .large-title {
        font-size: 2.25rem;
    }
}