.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./theme/img/banner.jpg');
 
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 94px);
    color: #ffffff;
    // z-index: -1;
}
// .banner::after {
//     position: absolute;
//     content: "";
//     height: 100%; 
//     z-index: -1;
//     width: 100%;
//     background-color: rgba(10, 52, 91, 0.4);
// }

.wrapper--banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner::before,
.banner::after {
    bottom: 0;
    position: absolute;
	content: '';
    pointer-events: none;
    right: 0;
    left: 0;
    z-index: 10;
    display: block;
    height: 90px;
    background-size: 50px 100%;
}

$color1: blue;

// .banner::before {
// 	top: -90px;
// 	background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, transparent), color-stop(0.25, darken($color1, 7%)));
// 	background-image:
// 		linear-gradient(315deg, darken($color1, 2%) 25%, transparent 25%),
// 		linear-gradient( 45deg, darken($color1, 7%) 25%, transparent 25%);
// 	background-position: 50%;
// }

// .banner::after {
//     top: 100%;
//     background-image: -webkit-gradient(linear, 0 0, 300% 100%, color-stop(0.25, darken($deep-red, 7%)), color-stop(0.25, $deep-red));
//     background-image: 
//         linear-gradient(135deg, darken($deep-red, 7%) 25%, transparent 25%),
//         linear-gradient(225deg, darken($deep-red, 7%) 25%, transparent 25%);
//     background-position: 50%;
// }



.test {
    min-height: 2000px;
}

@media only screen and (min-width: 800px) {
    .banner {
        height: calc(100vh - 94px);
        background-attachment: fixed;
    }


    .banner__title {
        font-size: 3.5rem;

        &--colored {
            font-size: 5rem;
        }
    }

  
}