.clients {
    margin-bottom: 25px;

    &__box {
        margin: 50px 0;
     
    }

    &__text {
        display: flex;
        flex-direction: column;
        text-align: center;
       
        font-size: 0.75rem;
        color: $brown;

        &--bold {
            font-weight: 700;
        }

        &:not(:first-child){
            padding: 22px 0;
        }
    }

  
}

.wrapper--clients {
    overflow: hidden;
}

@media only screen and (min-width: 800px){

    .clients {
        &__box {
            display: grid;
            grid-template-columns: 1fr 365px;
        }

        &__text {
            line-height: 26px;
            text-align: left;
            font-size: 1rem;
        }

        &__informations {
            margin-right: 50px;
        }

        &__heading {
            margin-top: 80px;
        }
    }

}

