.active {
    background-color:$brown;
    
    .description__title {
        color: $white;
    }

    .description__icon {
        filter: invert(1);
    }
}

.wrapper--description {
    overflow: hidden;
  } 

.description {

    &__item {
        cursor: pointer;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        height: 150px;
        justify-content: center;
        border: 1px solid #e7e7e7;

       
      

        &:hover {
            background-color:$brown;
           
            .description__title {
                color: $white;
            }

            .description__icon {
                filter: invert(1);
            }
        }
    }



    &__data {
        display: none;
    }

    &__title {
        margin-top: 25px;
        font-weight: 700;
        color: $brown;
    }

    &__wrapper {
        margin: 50px 0 94px 0;
    }

   

    &__info {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  
    }

    &__text {
  
        padding: 15px 0;
        font-size: 0.75rem;
        line-height: 26px;
    }

    &__list-item {
        line-height: 26px;
        font-size: 0.75rem;

        &:before {
            content: "•";
            color: $deep-red;
            padding-right: 7px;

        }
    }
}

@media only screen and (min-width: 800px){
    .description {
        &__text {
            line-height: 26px;
            font-size: 1rem;
        }

        &__item {
            height: unset;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        &__list-item {
            font-size: 1rem;
        }

        &__info {
            text-align: left;
            margin: 0 50px;
        }

        &__box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 200px;
        }

        &__heading {
            margin-top: 80px;
        }
    }
}

@media only screen and (max-width: 800px) {
    .description__info {
      display: none;
    }
  
    .description__item:hover {
      background-color: unset;
    } 
  
    .description__item:hover .description__title {
      color: #000000; }
    .description__item:hover .description__icon {
      filter: unset; }
  }