.introduction::before,
.introduction::after {
    background: url('./theme/img/paths2.svg');
    @include triangleBeforeAfter;
}

.introduction {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #e65b33;
  
    color: $white;

    &__text {
        letter-spacing: 0.64px;
        font-size: 0.75rem;
        text-align: center;
        padding: 10px 0;
        color: $white;


        &--light-bold {
            font-weight: 700;
        }
       
        &--bold {
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1.6px; 
            padding-bottom: 0;
       
        }
    }

    &__heading {
        padding: 25px 0 25px 0;
    }

    &::before {
        @include triangleBefore($deep-red);
    }


    &::after {
        @include triangleAfter($deep-red);
    }
}

.wrapper--introduction {
    max-width: calc(835px - (30px * 2));
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;

}

@media only screen and (min-width: 800px){
  
    .introduction {
        &__text {
            font-size: 1rem;
            padding: 40px 0 0 0;

            &--bold,
            &--clear {
                margin: 0; padding: 0;
            }

         
        }

        &__button {
            margin-top: 50px !important;
        }

        &__heading {
            padding: 125px 0 50px 0;
        }
    }

    .wrapper--introduction {
        padding: 0 0 75px 0; 
        margin: 25px 0;
    }
}