.quotation::before,
.quotation::after {
    background: url('./theme/img/paths.svg');
    @include triangleBeforeAfter;

}


.quotation {
    line-height: 24px;
    position: relative;
    background-color: $brown;
    padding: 35px 0;


    &__text {
        display: flex;
        justify-content: center;
        color: $white;
        font-size: 0.75rem;
        text-align: center;
      
    }

    &__author {
        display: flex;
        justify-content: center;
        font-weight: 700;
        padding-top: 25px;
        color: $mustard;
        font-size: 0.625rem;
    }

    &__mark {
        font-size: 36px;
        color: $mustard;
    }

   
    &::before {
        @include triangleBefore($brown);
    }


    &::after {
        @include triangleAfter($brown);
    }
}

@media only screen and (min-width: 800px){
    .quotation {
        padding: 100px 0;

        &__text {
            font-size: 1.2rem;
        }

        &__author {
            font-size: 1.125rem;
            margin-bottom: 80px;
        }

        &__heading {
            margin-top: 90px;
        }
    }
}

