.wp-goals {
    background-color: $navy-blue;
}

.wrapper--wp-goals {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.wp-goals__title {
    font-weight: 900;
}

@media only screen and (min-width: 800px) {
    .wrapper--wp-goals {
        padding: 75px 0;
        flex-direction: row;
        justify-content: space-between;
    }

    .wp-goals__title {
        border-left: 3px solid $mustard;
        padding-left: 50px;
    }
}